@import '~payload/scss';

.dashboard__card-list {

    .btn__icon {
        border-color: #007AFF;
        transition: 0.1s;
    }

    .btn__icon:hover {
        border-color: #fff;
    }

    .icon--plus {
        color: #007AFF;
        transition: 1s;
    }
}

.icon--logout .stroke {
    stroke: red;
}